# macOS system files
.DS_Store

# Environment files
.env

# Specific files
Session2/output/
Session2/docs/
Session3/speeches
Session3/chroma_db
OLD/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so