# macOS system files
.DS_Store

# Environment files
.venv
.env

# Specific files
Session1/CEMFI_Faculty
Session2/output/
Session2/docs/
Session3/speeches
Session3/chroma_db
Session3/copies

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so